@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9847 0.0009 48.7420);
    --foreground: oklch(0.1443 0.0028 49.6149);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1443 0.0028 49.6149);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1443 0.0028 49.6149);
    --primary: oklch(0.7051 0.1372 84.3307);
    --primary-foreground: oklch(0.9847 0.0009 48.7420);
    --secondary: oklch(0.9702 0.0017 48.7304);
    --secondary-foreground: oklch(0.2680 0.0089 48.3686);
    --muted: oklch(0.9702 0.0017 48.7304);
    --muted-foreground: oklch(0.5543 0.0226 48.2912);
    --accent: oklch(0.9702 0.0017 48.7304);
    --accent-foreground: oklch(0.2680 0.0089 48.3686);
    --destructive: oklch(0.6367 0.2074 25.3040);
    --destructive-foreground: oklch(0.9847 0.0009 48.7420);
    --border: oklch(0.9215 0.0044 48.6916);
    --input: oklch(0.9215 0.0044 48.6916);
    --ring: oklch(0.7051 0.1372 84.3307);
    --chart-1: oklch(0.7051 0.1372 84.3307);
    --chart-2: oklch(0.7119 0.0129 286.0684);
    --chart-3: oklch(0.6980 0.0334 145.2062);
    --chart-4: oklch(0.8452 0 0);
    --chart-5: oklch(0.7614 0.0045 345.2985);
    --sidebar: oklch(0.9617 0.0022 48.7239);
    --sidebar-foreground: oklch(0.2152 0.0063 48.4105);
    --sidebar-primary: oklch(0.6467 0.1254 84.4771);
    --sidebar-primary-foreground: oklch(0.9847 0.0009 48.7420);
    --sidebar-accent: oklch(0.9230 0.0044 48.6929);
    --sidebar-accent-foreground: oklch(0.2691 0.0090 48.3680);
    --sidebar-border: oklch(0.8839 0.0066 48.6592);
    --sidebar-ring: oklch(0.6467 0.1254 84.4771);
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(20 10% 5%);
    --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.05);
    --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.05);
    --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.10), 0rem 1px 2px -1px hsl(20 10% 5% / 0.10);
    --shadow: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.10), 0rem 1px 2px -1px hsl(20 10% 5% / 0.10);
    --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.10), 0rem 2px 4px -1px hsl(20 10% 5% / 0.10);
    --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.10), 0rem 4px 6px -1px hsl(20 10% 5% / 0.10);
    --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.10), 0rem 8px 10px -1px hsl(20 10% 5% / 0.10);
    --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(20 10% 5% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1576 0.0034 48.4953);
    --foreground: oklch(0.9833 0.0202 88.9110);
    --card: oklch(0.1927 0.0052 48.4366);
    --card-foreground: oklch(0.9833 0.0202 88.9110);
    --popover: oklch(0.1927 0.0052 48.4366);
    --popover-foreground: oklch(0.9833 0.0202 88.9110);
    --primary: oklch(0.7051 0.1372 84.3307);
    --primary-foreground: oklch(0.1564 0.0040 48.4501);
    --secondary: oklch(0.2371 0.0074 48.3905);
    --secondary-foreground: oklch(0.9230 0.0044 48.6929);
    --muted: oklch(0.2371 0.0074 48.3905);
    --muted-foreground: oklch(0.6817 0.0190 48.4276);
    --accent: oklch(0.2691 0.0090 48.3680);
    --accent-foreground: oklch(0.9230 0.0044 48.6929);
    --destructive: oklch(0.6367 0.2074 25.3040);
    --destructive-foreground: oklch(0.9847 0.0009 48.7420);
    --border: oklch(0.3204 0.0115 48.3425);
    --input: oklch(0.3204 0.0115 48.3425);
    --ring: oklch(0.7051 0.1372 84.3307);
    --chart-1: oklch(0.7051 0.1372 84.3307);
    --chart-2: oklch(0.6356 0.0124 286.0427);
    --chart-3: oklch(0.6156 0.0369 145.1099);
    --chart-4: oklch(0.5982 0 0);
    --chart-5: oklch(0.6788 0.0053 345.3486);
    --sidebar: oklch(0.1576 0.0034 48.4953);
    --sidebar-foreground: oklch(0.9833 0.0202 88.9110);
    --sidebar-primary: oklch(0.6467 0.1254 84.4771);
    --sidebar-primary-foreground: oklch(0.9847 0.0009 48.7420);
    --sidebar-accent: oklch(0.2371 0.0074 48.3905);
    --sidebar-accent-foreground: oklch(0.8444 0.0089 48.6222);
    --sidebar-border: oklch(0.3001 0.0105 48.3514);
    --sidebar-ring: oklch(0.6467 0.1254 84.4771);
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.3;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.15);
    --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.15);
    --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -1px hsl(0 0% 0% / 0.30);
    --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.30), 0rem 2px 4px -1px hsl(0 0% 0% / 0.30);
    --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.30), 0rem 4px 6px -1px hsl(0 0% 0% / 0.30);
    --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.30), 0rem 8px 10px -1px hsl(0 0% 0% / 0.30);
    --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.75);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
